.options {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 10px;
	}

	.option {
		border: solid 2px rgb(230, 141, 238);
		border-radius: 15px;
		padding: 5px;
		cursor: pointer;
		text-align: center;
	}