<h3>Гуманитарный</h3>
<hr>
<p>Предметы углубленного изучения: литература, русский язык, математика, история.</p>
<table>
	<tr>
		<th>Профильные предметы</th>
		<th>Часы в неделю</th>
	</tr>
	<tr>
		<td>Литература</td>
		<td>5</td>
	</tr>
	<tr>
		<td>Алгеба</td>
		<td>4</td>
	</tr>
	<tr>
		<td>История</td>
		<td>4</td>
	</tr>
	<tr>
		<td>Русский язык</td>
		<td>2</td>
	</tr>
	<tr>
		<td>Геометрия</td>
		<td>2</td>
	</tr>
	<tr>
		<td>Родной русский</td>
		<td>1</td>
	</tr>
</table>
<span><em>*информация может отличаться взависимости от конкектной школы</em></span>
<p><b>Возможные профессии:</b> писатель, переводчик, копирайтер, библиотекарь, учитель гуманитарных предметов.</p>