<div class="container">
	<h3>Сначала нужно определиться, пойти получать профессию или учиться в школе еще 2 года. Для этого тут приведены
		плюсы каждого.</h3>
	<div class="lists">
		<div class="list list2">
			<h4>Школа</h4>
			<ul>
				<li><b>Время, чтобы подумать.</b> Если вы не определились с профессией или с профилем, лучше пойти в 10
					класс. У вас будет 2 года, чтобы определиться.</li>
				<li><b>Возможность пойти в колледж.</b> После 11 класса даже легче поступить в колледж, чем после 9.
				</li>
				<li><b>Возможность пойти в ВУЗ.</b> Да, и после колледжа можно пойти в ВУЗ, но вы теряете несколько лет
					жизни.</li>
				<li><b>Привычная обстановка.</b> Даже если вы переходите в другой класс или школу, Система оценивания,
					формат обучения и предметы везде примерно одни и теже.</li>
				<li><b>Более плавная программа.</b> В колледже программу 10-11 класса проходят за один год.</li>
			</ul>
		</div>
		<div class="list list1">
			<h4>Колледж</h4>
			<ul>
				<li><b>Более уважительное обращение к ученикам.</b> В отличии от школы, где учителя смотрят на тебя
					свысока, в колледже преподаватели относятся к тебе более уважительно. </li>
				<li><b>Трудоустройство.</b> В конце обучения у вас уже будут прикладные навыки, с которыми можно идти
					работать.</li>
				<li><b>Не нужно сдавать ЕГЭ.</b> В колледж берут на основе среднего былла аттестата.</li>
				<li><b>Доступная стоимость обучения.</b> Около 80% студентов гос. колледжей учатся на бюджете. А места
					на платной основе стоят дешевле, чем в ВУЗе.</li>
				<li><b>Новые связи.</b> Вы будете общаться со своими будущими коллегами</li>
			</ul>
		</div>
	</div>
</div>