<div class="container">
	<p>После девятого класса у школьников появляется важный выбор. Куда пойти дальше? В колледж или продолжить учиться
	в школе? Если остаться в школе, то какой класс выбрать? Это достаточно важный выбор в жизни любого человека и
	этот сайт поможет сделать его.
	</p>
	<div class="links">
		<button routerLink="college" class="btn btn-secondary">Не решили куда пойдете? Узнайте разницу между колледжом и школой</button>
		<button routerLink="specialized" class="btn btn-secondary">Посмотрите какие бывают профили, основные предметы и будущие профессии</button>
		<button routerLink="test" class="btn btn-secondary">Не смогли выбрать профиль? Пройдите тест, который поможет вам определться</button>
		<button routerLink="connection" class="btn btn-secondary">Все еще не можете определиться? Объясните свою ситуацию и получите личный ответ</button>
	</div>
	
</div>