<h3>Физико-математический</h3>
<hr>
<p>Предметы углубленного изучения: математика, русский язык, физика.</p>
<table>
	<tr>
		<th>Профильные предметы</th>
		<th>Часы в неделю</th>
	</tr>
	<tr>
		<td>Физика</td>
		<td>5</td>
	</tr>
	<tr>
		<td>Алгеба</td>
		<td>4</td>
	</tr>
	<tr>
		<td>Геометрия</td>
		<td>2</td>
	</tr>
	<tr>
		<td>Русский язык</td>
		<td>2</td>
	</tr>
	<tr>
		<td>Родной русский</td>
		<td>1</td>
	</tr>
</table>
<span><em>*информация может отличаться взависимости от конкектной школы</em></span>
<p><b>Возможные профессии:</b> физик-ядерщик, физик-инженер, инженер, радиотехник.</p>